*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    height:100vh;
    width: 100%;
    background-image: url(../img/EZNUB4pWsAAdepG.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: red;
}

nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 25px ;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 17px;
}

nav ul li a:hover{
    color: red;
    transition: .4s;
}

.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 15px;
}

.btn:hover{
    background-color: white;
    color: red;
}

